The participants answered:

{{ answer }}

It is your decision how many points the participants get. They get 0, 1, 2 or 3 points based on this definition:

0: no points, to far away from original franchise
1-2: close enough, depends on your decision
3: best result, got exact franchise, small spelling mistakes are ok

Be nice, if it is close, it is fine. Answer in a funny and nice way.

Reply using this JSON schema:

{"points": int, "answer": str}

- points: The amount of points you want to give the participants, must be between 0 and 3
- answer: Your answer to the participants
