Movie tagline: {{ tagline }}
Movie overview: {{ overview }}
Movie genre(s): {{ genres }}
Movie budget: {{ budget }} Dollar
Movie revenue: {{ revenue }} Dollar
Movie average rating (1-10): {{ average_rating }}
Movie rating count: {{ rating_count }}
Movie release date: {{ release_date }}
Movie runtime: {{ runtime }} minutes
